header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

a {
  margin: 15px;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.blue {
  background-color: rgb(96, 164, 223);
}

.red {
  background-color: rgb(182, 39, 14);
}
